:root,
body {
  height: 100%;
  overflow: auto;
  margin: 0;
}
#app {
  overflow: hidden;
}
.add {
  position: relative;
  transition: 2s ease-out;
  left: 100%;
  opacity: 0;
}
.added {
  left: 0;
  opacity: 1;
}
.remove {
  transition: 2s ease-in;
  opacity: 0;
}
